/* variables */
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --wite-main-heading-stat: hsl(0, 0%, 100%);
  --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-s-heading: hsla(0, 0%, 100%, 0.6);
}
/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--very-dark-blue);
}
/* card styling */
.container {
  /* border: white 1px solid; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  /* border: 1px solid #fff; */
  background: var(--dark-desaturated-blue);
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 1rem;
  margin: 5%;
  max-width: 78%;
  max-width: 1140px;
}
.card-text {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 6%;
  justify-content: space-between;
  height: auto;
}
.block {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}
.card-text h1 {
  color: var(--wite-main-heading-stat);
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 2.8rem;
  /* border: 1px solid #000; */
  letter-spacing: 0.6px;
}
span {
  color: var(--soft-violet);
}
p {
  /* border: 1px solid #000; */
  color: var(--slightly-transparent-white-p);
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
}
.stats {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stat-no {
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--wite-main-heading-stat);
}
.stat-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: "Lexend Deca", serif;
  margin-top: 0.8rem;
  color: var(--slightly-transparent-white-s-heading);
}
.card-image-part {
  background-color: var(--soft-violet);
  position: relative;
  border-radius: 0 1rem 1rem 0;
}
img {
  /* width: 100%;
  height: 100%; */
  mix-blend-mode: multiply;
  height: 100%;
}
.color {
  background: var(--soft-violet);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  border-radius: 0 1rem 1rem 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--slightly-transparent-white-s-heading);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.mobile-image {
  display: none;
}
/* media queries */
@media screen and (max-width: 375px) {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
    min-width: 80%;
  }
  .stats {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem;
    /* justify-content: space-between; */
  }
  .card-image-part {
    order: 1;
    border-radius: 1rem 1rem 0 0;
  }
  .card-text {
    order: 2;
    padding: 10%;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  p {
    text-align: center;
    width: 100%;
  }
  .destop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .color {
    border-radius: 1rem 1rem 0 0;
  }
}
@media screen and (max-width: 1130px) {
  .block {
    width: 100%;
  }
  .stat-name {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }
  p {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
  }
}
@media screen and (max-width: 949px) {
  .container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
    max-width: 78%;
    margin: 3% 0;
  }
  .stats {
    flex-wrap: wrap;
    margin-top: 2.8rem;
  }
  .stat {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 1.6rem;
    /* justify-content: space-between; */
  }
  .stat-name {
    font-size: 1.2rem;
  }
  .card-image-part {
    order: 1;
    border-radius: 1rem 1rem 0 0;
  }
  img {
    border-radius: 1rem 1rem 0 0;
  }
  .destop-image {
    display: none;
  }
  .card-text {
    order: 2;
    padding: 10%;
  }
  .block {
    width: 100%;
  }
  h1 {
    font-size: 3.4rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
    letter-spacing: 0.6px;
    /* text-align: center; */
  }
  p {
    /* text-align: center; */
    width: 100%;
  }
  .destop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .color {
    border-radius: 1rem 1rem 0 0;
  }
}
